n8n-workflows/article-queue-processor.json
{
  "name": "Article Queue Processor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/articles/status/new",
        "options": {}
      },
      "id": "fetch-new-articles",
      "name": "Fetch New Articles",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "check-if-articles-exist",
      "name": "Check If Articles Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-articles",
      "name": "Loop Over Articles",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [850, 200]
    },
    {
      "parameters": {
        "url": "http://localhost:5678/webhook/generate-article",
        "options": {
          "bodyContentType": "json"
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "articleId",
              "value": "={{ $json._id }}"
            },
            {
              "name": "keyword",
              "value": "={{ $json.keyword }}"
            },
            {
              "name": "brandDomain",
              "value": "={{ $json.brandDomain }}"
            },
            {
              "name": "language",
              "value": "={{ $json.language }}"
            },
            {
              "name": "aiTool",
              "value": "={{ $json.aiTool }}"
            }
          ]
        }
      },
      "id": "trigger-generator",
      "name": "Trigger Article Generator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 200]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch New Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch New Articles": {
      "main": [
        [
          {
            "node": "Check If Articles Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Articles Exist": {
      "main": [
        [
          {
            "node": "Loop Over Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Articles": {
      "main": [
        [
          {
            "node": "Trigger Article Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Article Generator": {
      "main": [
        [
          {
            "node": "Loop Over Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
